body {
    font-family: Arial;
    padding: 20px;
}

input {
    padding: 10px;
    width: 260px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
}

#map {
    margin-top: 15px;
    width: 100%;
    height: 420px;
    border: 2px solid #333;
    border-radius: 10px;
}