body {
    font-family: Arial;
    background: linear-gradient(135deg, #0ea5e9, #22c55e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #0f172a;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.msg {
    color: red;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0f172a;
}